################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/das-zendesk-guide-theme/config/applicationhost.config
