{{#if settings.google_tag_manager_id}}
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id={{settings.google_tag_manager_id}}"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
{{/if}}

<a href="#content" class="govuk-skip-link">Skip to main content</a>

<!-- cookies msg starts -->
<section id="global-cookie-message-help">
    <div id="cookieWrapper" class="govuk-width-container gem-c-cookie-banner gem-c-cookie-banner__wrapper" role="region" aria-label="cookie banner">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds gem-c-cookie-banner__buttons">

                <span class="govuk-heading-m">Tell us whether you accept cookies</span>

                <p class="govuk-body">We use <a href="/hc/en-gb/articles/{{settings.article_id_cookies}}-Cookies" class="govuk-link">cookies to collect information</a> about how you use this service. We use this information to make the service work as well as possible and improve this service.</p>

                <div class="govuk-grid-column-full govuk-grid-column-one-half-from-desktop gem-c-cookie-banner__button-accept">
                    <button class="govuk-button gem-c-button" type="submit" data-module="track-click" data-accept-cookies="true" data-track-category="cookieBanner" data-track-action="Cookie banner accepted">Accept all cookies</button>
                </div>
                <div class="govuk-grid-column-full govuk-grid-column-one-half-from-desktop gem-c-cookie-banner__button-settings">
                    <a class="govuk-button gem-c-button" role="button" data-module="track-click" data-track-category="cookieBanner" data-track-action="Cookie banner settings clicked" href="/hc/en-gb/articles/{{settings.article_id_cookies}}-Cookies">Set cookie preferences</a>
                </div>

            </div>
        </div>
    </div>

    <div id="cookieConfirm" class="govuk-width-container gem-c-cookie-banner__confirmation" tabindex="-1">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body govuk-!-font-size-16">You’ve accepted all cookies. You can <a class="govuk-link" href="/hc/en-gb/articles/{{settings.article_id_cookies}}-Cookies" data-module="track-click" data-track-category="cookieBanner" data-track-action="Cookie banner settings clicked from confirmation">change your cookie settings</a> at any time.</p>
            </div>
            <div class="govuk-grid-column-one-third">
                <button class="gem-c-cookie-banner__hide-button govuk-!-font-size-14 das-float-right" data-hide-cookie-banner="true" data-module="track-click" data-track-category="cookieBanner" data-track-action="Hide cookie banner">Hide</button>
            </div>
        </div>
    </div>
</section>
<!-- cookies msg ends -->

<header class="fui-header" data-module="header">
    <div class="fiu-width-container">

        <div class="govuk-header__logo">
            <a href="https://www.gov.uk" class="govuk-header__link govuk-header__link--homepage">
                <span class="govuk-header__logotype">
                    <img src="https://das-prd-frnt-end.azureedge.net/fiu/assets/images/apprenticeships-logo-black.svg" alt="Apprenticeships logo" class="fiu-header__apprenticeship-logo">
                </span>
            </a>
            
            <div class="govuk-header__content">
            {{#link 'help_center' class='govuk-header__link govuk-header__link--service-name'}}
            <span class="govuk-visually-hidden">Home: </span>
            Get help with the apprenticeship service
            {{/link}}
        </div>
        </div>
        
    </div>
</header>

{{#if signed_in}}
<nav id="requests-sub-nav" class="govuk-phase-banner govuk-width-container">
    <ul class="govuk-list" role="menubar">
        <li><a href="/access/logout?return_to=https%3A%2F%2Fsupport.zendesk.com%2Fhc%2Fen-us" class="govuk-link govuk-link--no-visited-state" role="menuitem">Sign out</a></li>
    </ul>
</nav>
{{/if}}